@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner { width: 1rem; height: 1rem; border: 2px solid transparent;
  border-top-color: currentColor; border-right-color: currentColor;
  border-radius: 9999px; animation: spin 0.6s linear infinite; }
@keyframes spin { to { transform: rotate(360deg) } }
